{% extends "base.html.twig" %}

{% block body %}
	<div>
		<h1 class="bg-blue-500 text-5xl text-center font-bold">Helloo 123</h1>
		<img src="{{ asset('build/images/image1.33c28f95.jpg') }}" alt="img">

	</div>
{% endblock %}
